input.ng-touched.ng-invalid {border:solid red 2px;}
input.ng-touched.ng-valid {border:solid green 2px;}

select.ng-touched.ng-invalid {border:solid red 2px;}
select.ng-touched.ng-valid {border:solid green 2px;}

button[type="submit"] {
    background: #222CB5;
    color: #fff;
}

button[disabled="disabled"] {
    cursor: default !important;
    background: #aaa !important;
}

button[disabled="disabled"]:hover,
button[disabled="disabled"]:active {
    background: #aaa !important;
}
