<h2>Create new user</h2>
<div class="form-group">
  <label for="name">Name</label>
  <input class="form-control" type="text" name="name" id="name" [(ngModel)]="user.name" #name="ngModel" required>
</div>
<div class="form-group">
  <label for="birthday">Birthday</label>
  <input class="form-control" type="date" name="birthday" id="birthday" [(ngModel)]="user.birthday" #birthday="ngModel" required>
</div>
<div class="form-group">
  <label for="email">Email</label>
  <input class="form-control" type="email" name="email" id="email" [(ngModel)]="user.email" #email="ngModel" required>
</div>
<div class="form-group">
  <label for="phone">Phone</label>
  <input class="form-control" type="phone" name="phone" id="phone" [(ngModel)]="user.phone" #phone="ngModel" required>
</div>
<div class="form-group">
  <label for="sex">Sex</label>
  <select class="form-control" name="sex" id="sex" [(ngModel)]="user.sex" #sex="ngModel" required>
    <option value="male">Male</option>
    <option value="female">Female</option>
  </select>
</div>
<div class="form-group">
  <label for="creditCard">Card</label>
  <input class="form-control" type="text" name="creditCard" id="creditCard" [(ngModel)]="user.creditCard"
         #creditCard="ngModel" required pattern="[0-9]{16,18}">
</div>
<div class="form-group">
  <button class="btn btn-default" type="submit" [disabled]="name.invalid || email.invalid || birthday.invalid || phone.invalid || sex.invalid || creditCard.invalid"
          (click)="submit(user)">Add</button>
</div>
