<div class="result-list">
  <h2>Users</h2>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Email</th>
      <th>Sex</th>
      <th>Birthday</th>
      <th>Credit card</th>
    </tr>
    <tr *ngFor="let user of users; let i = index">
      <td>{{i + 1}}</td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.sex}}</td>
      <td>{{user.birthday}}</td>
      <td>{{user.creditCard}}</td>
    </tr>
  </table>
</div>
