<h2>Create new order</h2>
<div class="form-group">
  <label for="date">Date</label>
  <input class="form-control" type="date" name="date" id="date" [(ngModel)]="order.date" #date="ngModel" required>
</div>
<div class="form-group">
  <label for="orderId">Order ID</label>
  <input class="form-control" type="text" name="orderId" id="orderId" [(ngModel)]="order.orderId" #orderId="ngModel" required>
</div>
<div class="form-group">
  <label for="summary">Summary</label>
  <input class="form-control" type="number" name="summary" id="summary" [(ngModel)]="order.summary" #summary="ngModel" required>
</div>
<div class="form-group">
  <label>Shipping company</label>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" name="shipping" id="shipping_ups" [(ngModel)]="order.shipping" value="Ups" #shipping="ngModel" required>
    <label class="custom-control-label" for="shipping_ups">UPS</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" name="shipping" id="shipping_dhl" [(ngModel)]="order.shipping" value="Dhl" #shipping="ngModel" required>
    <label class="custom-control-label" for="shipping_dhl">DHL</label>
  </div>
  <div class="custom-control custom-radio">
    <input type="radio" class="custom-control-input" name="shipping" id="shipping_fedex" [(ngModel)]="order.shipping" value="FedEx" #shipping="ngModel" required>
    <label class="custom-control-label" for="shipping_fedex">FedEx</label>
  </div>
</div>
<div class="custom-control custom-checkbox">
  <input class="custom-control-input" type="checkbox" name="isCompleted" id="isCompleted" [(ngModel)]="order.isCompleted">
  <label class="custom-control-label" for="isCompleted">Is completed</label>
</div>
<br/>
<div class="form-group">
  <button class="btn btn-default" type="submit"
          [disabled]="date.invalid || orderId.invalid || summary.invalid || shipping.invalid"
          (click)="submit(order)">Add</button>
</div>
