<div class="result-list">
  <h2>Orders</h2>
  <table class="table">
    <tr>
      <th>#</th>
      <th>Date</th>
      <th>Id</th>
      <th>Summary</th>
      <th>Shipping</th>
      <th>Is completed</th>
    </tr>
    <tr *ngFor="let order of orders; let i = index">
      <td>{{i + 1}}</td>
      <td>{{order.date}}</td>
      <td>{{order.orderId}}</td>
      <td>{{order.summary}}</td>
      <td>{{order.shipping}}</td>
      <td>{{order.isCompleted}}</td>
    </tr>
  </table>
</div>
